@page
@model DetailsModel


<h2>Details</h2>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.StartDate)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.StartDate.ToString())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EndDate)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.EndDate.ToString())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Location)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Priority)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.Priority.ToString())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Category)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Parity)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.Parity.ToString())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Day)
        </dt>
        <dd>
            @Html.DisplayName(Model.Event.Day.ToString())
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.EventId">Edit</a> |
    <a asp-page="./Events">Back to List</a>
</div>
