@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
    ViewData["Name"] = "Bella Adrián";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="CreateEvent">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].StartDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Event[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Parity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Day)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                        @Html.DisplayName(item.StartDate.ToString())
                </td>
                <td>
                    @Html.DisplayName(item.EndDate.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayName(item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./DeleteEvent" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>