@page
@model TimeTableModel
@{
    ViewData["Title"] = "TimeTable";
    List<string> strl = new List<string>();
}
    <div class="timetable-title-table" >
        <div class="timetable-title">
                <h1>Órarend: A hét</h1>
                <hr>
        </div>
        <div class="timetable-table">
            <h2>Hétfő</h2>
            <ol>
                @{
                    strl = Model.GetDailyEvents("Hetfo");

                    foreach (string str in strl)
                    {
                        <li>@str</li>
                    }
                }
            </ol>
            <hr>
            <h2>Kedd</h2>
            <ol>
                @{
                    strl = Model.GetDailyEvents("Kedd");

                    foreach (string str in strl)
                    {
                        <li>@str</li>
                    }
                }
            </ol>
            <hr>
            <h2>Szerda</h2>
            <ol>
                @{
                    strl = Model.GetDailyEvents("Szerda");

                    foreach (string str in strl)
                    {
                        <li>@str</li>
                    }
                }
            </ol>
            <hr>
            <h2>Csütörtök</h2>
            <ol>
                @{
                    strl = Model.GetDailyEvents("Csutortok");

                    foreach (string str in strl)
                    {
                        <li>@str</li>
                    }
                }
            </ol>
            <hr>
            <h2>Péntek</h2>
            <ol>
                @{
                    strl = Model.GetDailyEvents("Pentek");

                    foreach (string str in strl)
                    {
                        <li>@str</li>
                    }
                }
            </ol>
            <hr>
            <h2>Szombat</h2>
            <ol>
                @{
                    strl = Model.GetDailyEvents("Szombat");

                    foreach (string str in strl)
                    {
                        <li>@str</li>
                    }
                }
            </ol>
            <hr>
            <h2>Vasárnap</h2>
            <ol>
                @{
                    strl = Model.GetDailyEvents("Vasarnap");

                    foreach (string str in strl)
                    {
                        <li>@str</li>
                    }
                }
            </ol>
        </div>
    </div>
